html{
    width: 100%;
    height: 1005;
}

 h1{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
 }

header{
    display: flex;
    justify-content: flex-end;
    padding: 1.3rem;
    background-color: cornflowerblue;
}

header img{
    width: 10rem;
    height: 4rem;
    margin-right: 7%;
}

main{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

p{
font-size: 20px;
}

.Categorias{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2rem; 
}

.Hori{

    display: flex;
    flex-direction: row;

}

.Colu{

    display: flex;
    flex-direction: column;

}

.N1{

    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    padding-top: 2rem;
}

.N1 img{

    width: 30rem;
    height: 30rem;
}

.N2{

    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    padding-top: 2rem;
}

.N2 img{

    width: 15rem;
    height: 10rem; 
}

.txt{

    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.N3{

    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    padding-top: 2rem;
}

.N3 img{

    width: 14rem;
    height: 10rem; 
}

.txtN13{

    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

a{
    background-color:cornflowerblue;
    text-align: center;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
} 

a:hover{

background-color:darkcyan;
}

